@import "../colors.scss";

.take05 {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  #momento {
    font-family: $font2;
    text-align: center;
    font-weight: 300;
    max-width: 80vw;
    margin: 0%;
    @include breakpoint(small) {
      font-size: 1.6rem;
    }
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint(large) {
      font-size: 3.2rem;
    }
    @include breakpoint(xlarge) {
      font-size: 4rem;
    }
  }
  h3 {
    opacity: 0;
    margin: 0%;
    padding: 3%;
    font-size: 77px;
    text-align: center;
    font-family: $font2;

    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 3rem;
    }
    @include breakpoint(large) {
      font-size: 5rem;
    }
    @include breakpoint(xlarge) {
      font-size: 7rem;
    }
  }
}
