@import "../colors.scss";

.take05 {

  height: fit-content;
  // overflow-y: hidden;
  h5 {
    color: $primary_color;
    font-size: 43px;
    padding: 5%;
    font-family: $font2;
    text-align: center;
    font-weight: 300;
    @include breakpoint(small){
      font-size: 2rem;
    }
    @include breakpoint(medium){
      font-size: 2.5rem;
    }
  
  }
  h3 {
    padding: 3%;
    font-size: 77px;
    text-align: center;
    font-family: $font2;
    @include breakpoint(small){
      font-size: 3rem;
    }
  }
}
