@import "../colors.scss";

.take07{
    background-color: $primary_color;
    padding: 5%;
    padding-top: 1%;
    // overflow: hidden;
    height: fit-content;
    h5{
        font-family: $font2;
        color: $secundary_color;
        text-transform: uppercase;
        font-size: 40px;
        text-align: center;
    }
    h3{
        font-family: 'Barrio', cursive;
        text-align: center;
        padding: 5%;
        color: $secundary_color;
        font-size: 85px;
        @include breakpoint(small){
            font-size: 50px;
          }
        
        strong{
            color: $quaternary_color
        }
        
    
    
    }
    #mente{
        margin: 10%;
        @include breakpoint(small){
            width: 300px;
            height: auto;
          }
        
    }

}