@import "../colors.scss";

.take07 {
  background-color: $primary_color;
  padding: 5%;
  padding-top: 1%;
  // overflow: hidden;
  min-height: fit-content;
  justify-content: center;
  align-items: center;

  width: 50vw;
  
  #mergulhe {
      font-family: "Barrio", cursive;
        color: $secundary_color;
          font-size: 100px;
          width: 100vw;
          height: 100px;
          display: block;
          position: relative;
          box-sizing: border-box;
          margin-top: 25%;


        


    strong {
      color: $quaternary_color;
    }
  }


  h4{
    font-family: $font1;
    color: $secundary_color;
    font-size: 100px;
    text-align: center;
    max-width: 100vw;
  }
}
