@import "../colors.scss";

.take07{
    background-color: $primary_color;
    padding: 5%;
    padding-top: 1%;
    // overflow: hidden;
    min-height: fit-content;
    justify-content: center;
    align-items: center;
    margin: 15%;
    width:50vw;

    
    h3{
        font-family: 'Barrio', cursive;
        @include breakpoint(small){
            font-size: 2rem;
          }
        text-align: center;
        padding: 10%;
        color: $secundary_color;
        font-size: 85px;
        @include breakpoint(medium){
            font-size: 50px;
          }
        
        strong{
            color: $quaternary_color
        }
        
    
    
    }
    #mente{
        // margin: 10%;
        // display: block;
        // width: 100vw;

        @include breakpoint(small){
            width: 80vw;
            max-width: 300px;            height: auto;
          }
        
    }

}