.container-loading-bar{ 
    width: 30vw;
    height: 10px;
    background-color: rgba(233, 237, 245, 0.508);
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
    overflow: hidden;
    z-index: 1000;
}

.progress-bar{
    height: 100%;
    background-color: #ffffff;
    
}

