

@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Chelsea+Market&family=Covered+By+Your+Grace&family=Eczar:wght@400;500;600;700;800&family=Kablammo&family=Kranky&family=Lacquer&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Monoton&family=Noto+Sans+Linear+B&family=Ribeye&family=Rubik+Distressed&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Ruslan+Display&family=Ultra&display=swap');







@mixin uma-tela(){
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: whitesmoke;

}






.scene1{
    @include uma-tela;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    .conteudo{ 
        @include uma-tela;
    }
    
    h5 {
        font-size: 7vh;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 120%;
        text-align: center;
        z-index: 1000;
        font-weight: 200;
        border-bottom: 0;
        padding: 21%;


    }
    
    strong{ 
        margin: 0;
        padding: 0;
        line-height: 2rem;
        font-size: 7rem;
    }
    .initial{

        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

    }
    .borboleta1{ 
        display: block;
        position:absolute;
        top: 30px;
        left: 20px;   
        height: 200px;
        width: 300px;
    }

    
  canvas{ 
    background-color: rgba(255, 255, 255, 0);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        
    }
    
}