@import "../colors.scss";


.take06{
    padding: 15%;
    height: fit-content;

    h2{

        font-size: 67px;
        font-weight: 300;
        font-family: 'Barrio', cursive;
        color: $secundary_color;

        text-align: end;
        @include breakpoint(small){
            font-size: 3rem;
          }
    }
}