@import "../colors.scss";

.take06 {

  height: fit-content;
  width: 100vw;
  overflow: hidden;
  display: block;
  justify-content: center;
  flex-direction: column;
  padding-right: 6%;
  background-color: $primary_color;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  h2 {
    max-width: 1000px;
    font-weight: 300;
    font-family: "Barrio", cursive;
    color: $secundary_color;
    text-align: end;
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 2.6rem;
    }
    @include breakpoint(large) {
      font-size: 3.2rem;
    }
    @include breakpoint(xlarge) {
      font-size: 4rem;
    }
  }
}
