@import"../colors.scss";


#take11{
    background-color: $quinary_color;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");

    background-attachment: fixed;
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    overflow: hidden;
    height: fit-content;
    justify-content: center;
    #whats{
        margin-top: 5vh;
        color:$secundary_color;
        text-align: center;
        width: 100%;
        @include breakpoint(small){
            font-size: 6rem
        }
        @include breakpoint(medium){
            font-size: 7rem
        }
        @include breakpoint(large){
            font-size: 8rem
        }
        @include breakpoint(xlarge){
            font-size: 9rem
        }
    }
    h1{
    font-size: 2rem;
    display: block;
    font-family: $font1;
    margin: auto;
    text-align: center;
    color: $secundary_color;
    padding: 3vh;
    padding-bottom: 7vh;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    @include breakpoint(small){
        font-size: 2rem;
      }
      @include breakpoint(medium){
        font-size: 2.5rem;
      }
      @include breakpoint(large){
        font-size: 3rem;
      }
      @include breakpoint(xlarge){
        font-size: 4.5rem;
      }}

    .contain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: $tertiary_color;
        background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! *//* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        overflow: hidden;
        
        max-width: 1000px;
        margin: auto;
        width: 100%;
        margin-bottom: 100px;
        @include breakpoint(large){
            border-radius: 200px 124px 200px 44px;
            -moz-border-radius: 200px 124px 200px 44px;
            -webkit-border-radius: 200px 124px 200px 44px;
            border: 3px outset #ab46ab;
        }
        .contato{
            padding: 15px;
        }

        

        h3 {
            font-family: $font2;
            color: $secundary_color;
            max-width: 1000px;

            text-align: center;
            @include breakpoint(small) {
                font-size: 1.1rem;
            }
            @include breakpoint(medium) {
                font-size: 1.3rem;
            }
            @include breakpoint(large) {
                font-size: 1.6rem;
            }
            @include breakpoint(xlarge) {
                font-size: 1.9rem;
            }
        }
        p{
            padding-bottom: 2vh;
            font-family: $font2;
            color: $secundary_color;
            max-width: 1000px;
            margin: auto;
            text-align: justify;
            @include breakpoint(small) {
                font-size: 0.8rem;
                width: 95%;
            }
            @include breakpoint(medium) {
                font-size: 1rem;
                width: 95%;
            }
            @include breakpoint(large) {
                font-size: 1.2rem;
                width: 90%;
            }
            @include breakpoint(xlarge) {
                font-size: 1.3rem;
                width: 80%;
            }
        }
        
    }





}