@import "../colors.scss";
.take04 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  background-color: $primary_color;
  background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  overflow-y: visible;
  overflow-x: hidden;
  max-width: 100vw;
  -webkit-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
  box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);

  .coguLateral {
    pointer-events: none;
  }
    #voce {
      font-family: $font2;
      color: $secundary_color;
      text-align: center;
    justify-content: center;
    margin: auto;
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 4rem;
    }
    @include breakpoint(large) {
      font-size: 6rem;
    }
    @include breakpoint(xlarge) {
      font-size: 8rem;
    }
  }
  #fariaDiv{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  #faria {
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    text-wrap: wrap;
    font-family: $font2;
    max-width: 40%;
    color: $secundary_color;
    justify-content: center;
    text-align: center;
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 3rem;
    }
    @include breakpoint(large) {
      font-size: 4rem;
    }
    @include breakpoint(xlarge) {
      font-size: 5rem;
    }
  }
  }

#realcogu{
  max-width: 500px;
  width: 35vw;
  position: absolute;
  left: 0%;
  top: 10%;
  @include breakpoint(small){
    width:150px;
  }
  @include breakpoint(medium){
    width: 200px;
  }
  @include breakpoint(large){
    width: 400px;
  }
  @include breakpoint(x-large){
    width: 700px;
  }
  }
#realcogu2{
  width: 35vw;
  position: relative;
  right:1%;
 bottom: 0%;
  @include breakpoint(small){
    width: 350px;
  }
  @include breakpoint(medium){
    width: 500px;
  }
  @include breakpoint(large){
    width: 700px;
  }
  @include breakpoint(x-large){
    width: 1000px;
  }
  }






  #momento {
    font-family: $font2;
    text-align: center;
    font-weight: 300;
    max-width: 1000px;
    width: 80vw;
    margin: 0%;
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    @include breakpoint(small) {
      font-size: 1.6rem;
    }
    @include breakpoint(medium) {
      font-size: 2rem;
    }
    @include breakpoint(large) {
      font-size: 2.6rem;
    }
    @include breakpoint(xlarge) {
      font-size: 3rem;
    }
  }
  h3 {
    opacity: 1;
    margin: 0%;
    padding: 3%;
    font-size: 77px;
    text-align: center;
    font-family: $font2;
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);

    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint(large) {
      font-size: 3rem;
    }
    @include breakpoint(xlarge) {
      font-size: 3.5rem;
    }
  
  }


