@import "../colors.scss";
.take04 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $primary_color;
  overflow: hidden;
  h2 {
    font-family: $font2;
    color: $secundary_color;
    max-width: 1000px;
    
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 3rem;
    }
    @include breakpoint(large) {
      font-size: 4rem;
    }
    @include breakpoint(xlarge) {
      font-size: 5rem;
    }
  }
  #voce {
    font-family: $font2;
    color: $secundary_color;
    text-align: center;
    justify-content: center;
    margin: auto;
    @include breakpoint(small) {
      font-size: 4rem;
    }
    @include breakpoint(medium) {
      font-size: 6rem;
    }
    @include breakpoint(large) {
      font-size: 8rem;
    }
    @include breakpoint(xlarge) {
      font-size: 11rem;
    }
  }
  #faria {
    font-size: 100px;
    font-family: $font2;
    max-width: 80%;
    color: $secundary_color;
    text-align: center;
    justify-content: center;
    padding: 20%;
    @include breakpoint(small) {
      font-size: 40px;
    }
    @include breakpoint(medium) {
      font-size: 70px;
    }
  }
}
