@import "../colors.scss";
.take04{
    background-color: $primary_color;
    h2{
        font-size: 100px;
        font-family: 'Major Mono Display', monospace;
        color:$secundary_color;
        padding: 10%;
    }
    strong{
        font-size: 200px;
        font-family: 'Major Mono Display', monospace;
        color: $secundary_color;
        text-align: center;
    }

}  