@import "../colors.scss";

#menu-container{
 

#menu{
    color: $secundary_color;
    display: flex;
    padding: 0%;
    margin: 0%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1;
    overflow: hidden;
    position: fixed;
    height: auto;
    left: 50vw;
    z-index: 1000;
    transform: translateX(-50%);
    background-color: $primary_color;
    top: 0%;
    height: 50px;
;
    
    
    
    
    ul{
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0%;
        padding: 3px;
        @include breakpoint(small){
            width: 100vw;
            top: 0%;
        }
        @include breakpoint(medium){
            width: 100vw;
            
            top: 0%;
            
        }
        @include breakpoint(large){
            width: 300px;
            top: 7vh;
            
        }
        @include breakpoint(xlarge){
            width: 300px;

        top: 3vh;
        }

            
        li{
            border-radius: -50%;
            flex-grow: 1;
            text-align: center;
            justify-content: center;
            align-items: center;
           
            display: flex;
            cursor: pointer;
            &:hover{
                color: $quaternary_color
            }
            @include breakpoint(small){
                font-size: 1.2rem;   
            }
            @include breakpoint(medium){
                font-size: 1.4rem;
            }
            @include breakpoint(large){
                font-size: 1.6rem; 
            }
            @include breakpoint(xlarge){
                font-size: 2rem;
            }
            
        }
    }
    
    
}
}
#progressBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 16px;
    background-color: $quinary_color;
    border-radius: 5px; /* ou qualquer cor que preferir */
    z-index: 1000; /* Para garantir que fique no topo de outros elementos */
}