@import "../colors.scss";

.take10 {
  
  
  
  -webkit-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
  box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);

  background-color: $primary_color;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png"); 
 overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;

  color: $secundary_color;
  position: relative;
  padding: 0%;
  margin: 0%;
  #brain{
    width: 100%;
    position: relative;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
    @include breakpoint(small){
        height: 6rem
      
    }
    @include breakpoint(medium){
        height: 7rem
    }
    @include breakpoint(large){
        height: 8rem
    }
    @include breakpoint(xlarge){
        height: 9rem
    }
}
  .terapy-texts{
    max-width: 1000px;
    width: 95vw;
    padding-bottom: 10vh;
    max-width: 1000px;
    text-align: justify;
    color: $secundary_color;
    font-family: $font2;
    margin: auto;


   
    
  }
  img{
opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  h1{
    font-size: 2rem;
    display: block;
    font-family: $font1;
    margin: auto;
    text-align: center;
    color: $tertiary_color;
    padding: 3vh;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  }
  h2{
    font-size: 2rem;
    display: block;
    font-family: $font1;
    margin: auto;
    padding: 3vh;
    text-align: center;
    color: $quinary_color;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
  }
  p{
   font-family: $font2;
    max-width: 1000px;
    margin: auto;
    column-count: 2;
  // Define o número de colunas
    text-align: justify;

    z-index: 15;
    column-gap: 40px;
    @include breakpoint(small){
      column-count: 1;
      font-size: 0.8rem;
      width: 95vw;
      margin: auto;
      column-gap: 0;
    }
    @include breakpoint(medium){
      column-count: 1;
      column-gap: 0;
      font-size: 1.1rem;
      width: 90vw;
      margin: auto;
    }
    @include breakpoint(large){
      column-count: 1;
      font-size: 1.2rem;
      width: 90vw;
      margin: auto;
    @include breakpoint(xlarge){
      column-count: 2;
      font-size: 1.3rem;
      width: 90vw;
      margin: 0;
    
    }  
    }
   strong{
    color: $tertiary_color;
    font-size: 1rem;
   } 
  }
}
