@import "../colors.scss";

.take10 {
  background-color: $primary_color;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  color: $secundary_color;
  position: relative;
  padding: 0%;
  margin: 0%;
  #brain{
    font-size: 9rem;
    width: 100%;
    margin-bottom: 5vh;
  }
  .terapy-texts{
    max-width: 1000px;
    width: 95vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    max-width: 1000px;
    text-align: justify;
    color: $secundary_color;
    font-family: $font2;
    margin: auto;
    padding-bottom: 10%;margin: auto;
  }
  img{
opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  h1{
    font-size: 3rem;
    display: block;
    font-family: $font1;
    margin: auto;
    text-align: center;
    color: $quinary_color;
  }
  h2{
    font-size: 2rem;
    display: block;
    font-family: $font1;
    margin: auto;
    text-align: center;
    color: $quinary_color;
  }
  p{
   font-family: $font2;
    max-width: 1000px;

    column-count: 2;
  // Define o número de colunas
    font-size: 1.4rem;
    text-align: justify;
    text-indent: 10%;
    z-index: 15;
    column-gap: 40px;
    @include breakpoint(small){
      column-count: 1;
      font-size: 1.2rem;
      width: 90vw;
      margin: auto;
    }
    @include breakpoint(medium){
      column-count: 1;
      font-size: 1.6rem;
      width: 90vw;
      margin: auto;
    }
    @include breakpoint(small){
      column-count: 1;
      font-size: 1.2rem;
      width: 90vw;
      margin: 0;
    }
   strong{
    color: $quinary_color;
    font-size: 1.6rem;
   } 
  }
}
