@import "../colors.scss";
.take08{
    background: linear-gradient(180deg, rgba(134,247,249,1) 0%, rgba(114,232,249,1) 30%, rgba(47,208,246,1) 58%, rgba(1,141,170,1) 100%);
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    background-repeat: repeat;
    background-attachment: fixed;
    position: relative;
    padding-top: 10%;

    height: fit-content;
    #cogus-azuis{
        position: relative;
        z-index: 2;  // Este valor deve ser maior que o z-index de #matriz
       
        object-fit: cover;
        
    }
    .matriz{
        position: absolute;
        z-index: 1;
    }
    img{
        position: absolute;
        margin: 50px 0 0 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
    h2{
        font-family: 'Barrio', cursive;
        color: $secundary_color;
        position: absolute;
        top: -90px;
        margin-left: auto;
        margin-right: auto;
        font-size: 4rem;
        width: 100%;
        text-align: center;
        strong{
            color: $quaternary_color;
            font-size:8rem;
        }

    }
    h4{
        font-family: 'Barrio', cursive;
        font-size: 56px;
        padding: 10%;
        margin-top: 40%;
        @include breakpoint(small){
            font-size: 2.5rem;
          }
        
    }
    .links{
        padding: 10%;
        justify-content: space-around;
        align-items:normal;
    }
    a:first-child{
        transform: translateX(200px);
    }
    a{
        font-size: 3rem;
        font-family: $font1;
        font-weight: 800;
        margin: 20px;
        margin-top: 50px;
        cursor: pointer;
    }   a:hover{
        color: $quaternary_color;
    }
    #poder{
        max-width: 800px;
        height: 400px;
        object-fit: contain;
        position: absolute;
        top: -15%;
        right: auto;
        display: grid;
    }



}