$primary_color: #817665;
$secundary_color: #dccdce;
$tertiary_color: #1A1430;
$quaternary_color: #78C5BD;
$quinary_color: #E85747;
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Autour+One&family=Barrio&family=Bebas+Neue&family=Bungee&family=Chelsea+Market&family=Covered+By+Your+Grace&family=Eczar:wght@400;500;600;700;800&family=Kablammo&family=Kranky&family=Lacquer&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Luckiest+Guy&family=Major+Mono+Display&family=Monoton&family=Noto+Sans+Linear+B&family=Paytone+One&family=Ribeye&family=Rubik+Distressed&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Ruslan+Display&family=Ultra&display=swap');
$font1: 'Luckiest Guy';
$font2: 'Salsa';

$breakpoints: (
  small: 480px,
  medium: 767px,
  large: 1023px,
  xlarge: 1199px
);

@mixin breakpoint($point) {
    @if map-has-key($breakpoints, $point) {
        @if $point == small {
            @media (max-width: map-get($breakpoints, $point)) {
                @content;
            }
        } @else if $point == medium {
            @media (min-width: map-get($breakpoints, small) + 1px) and (max-width: map-get($breakpoints, $point)) {
                @content;
            }
        } @else if $point == large {
            @media (min-width: map-get($breakpoints, medium) + 1px) and (max-width: map-get($breakpoints, $point)) {
                @content;
            }
        } @else if $point == xlarge {
            @media (min-width: map-get($breakpoints, large) + 1px)  {
                @content;
            }
        }
    } @else {
        @warn "Breakpoint '#{$point}' não encontrado.";
    }
}

.carousel-container {
    .slick-slide {
      img {
        -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, black);
        // Adicione outros estilos para o reflexo aqui
      }
    }
  }