$primary_color: #000000;
$secundary_color: #ffffff;
$tertiary_color: #1555eb;
$quaternary_color: #3CB8B5;
$quinary_color: #e27500;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Autour+One&family=Barrio&family=Bebas+Neue&family=Bungee&family=Chelsea+Market&family=Covered+By+Your+Grace&family=Eczar:wght@400;500;600;700;800&family=Kablammo&family=Kranky&family=Lacquer&family=Libre+Barcode+128+Text&family=Libre+Barcode+39+Text&family=Luckiest+Guy&family=Major+Mono+Display&family=Monoton&family=Noto+Sans+Linear+B&family=Paytone+One&family=Ribeye&family=Rubik+Distressed&family=Rubik+Microbe&family=Rubik+Moonrocks&family=Ruslan+Display&family=Ultra&display=swap');
$font1: 'Luckiest Guy';
$font2: 'Chelsea Market'