@import "../colors.scss";

.take03 {
  height: fit-content;
  width: 100vw;
    display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: space-around;
  overflow: hidden;// overflow-y: hidden;


    background-color: $tertiary_color;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");

    // background-image: url("https://www.transparenttextures.com/patterns/gravel.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  
// background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
  h2 {
    max-width: 1000px;
    margin: auto;
    font-family: $font2;
    color: $secundary_color;
    padding: 5%;
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    @include breakpoint(small) {
      font-size: 2rem;
    }
    @include breakpoint(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint(large) {
      font-size: 3rem;
    }
    @include breakpoint(xlarge) {
      font-size: 3.5rem;
    }
  }
  h1 {
    // margin-top: 3%;
    font-size: 270px;
    font-family: "Major Mono Display";
    color: $secundary_color;
    text-align: center;
    padding: 5%;
    color: #e0dfdc;

letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
    @include breakpoint(small) {
      font-size: 50px;
    }
    @include breakpoint(medium) {
      font-size: 70px;
    }
    @include breakpoint(large) {
      font-size: 100px;
    }
    @include breakpoint(xlarge) {
      font-size: 120px;
    }
  }
  .logo {
    width: 70%;
    max-width: 1300px;
    height: auto;
    margin: 0;
    padding: 0;
    transform: translateY(20%);
    @include breakpoint(medium) {
      width: 60%;
      height: auto;
    }
    @include breakpoint(large) {
      width: 50%;
      height: auto;
    }
    @include breakpoint(xlarge) {
      width: 40%;
      height: auto;
    }
  }


  }

// .take03,
// .take04,
// .take05,
// .take06,
// .take07 {
//   background-color: transparent; /* ou qualquer cor de fundo inicial desejada */
// }
