@import '../colors.scss';

.take03{
    height: fit-content;
    // overflow-y: hidden;
    background-color: $primary_color;
    h2{
        font-size: 100px;
        font-family:$font2;
        color:$secundary_color;
        padding: 5%;
        
    }
    h1{
        font-size: 200px;
        font-family: 'Major Mono Display';
        color: $secundary_color;
        text-align: center;
    }
}
