@import "../LoadingScene/LoadScene.scss";
@import "../colors.scss";

#take02 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 1;
  background-color: $primary_color;
background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  .central-msg {
    font-family: $font1;
    color: $secundary_color;
    transform-origin: center center;
    z-index: 10;
    position: absolute;
    top: 15vh;

    @include breakpoint(small) {
      font-size: 2.5rem !important;
    }
    @include breakpoint(medium) {
      font-size: 3rem !important;
    }
    @include breakpoint(large) {
      font-size: 5rem !important;
    }
    @include breakpoint(xlarge) {
      font-size: 7em !important;
    }
  }


  #bemvindo{
    position: absolute;
left: 50%;
// top: 15%;
transform: translate(-50%, -30%);
    top: 20%;
    z-index: 2;
    // filter: hue-rotate(120deg);

    // max-height: 80vh;
    @include breakpoint(small) {
      height: 20vh;
    }
    @include breakpoint(medium) {
      height: 25vh;

    }
    @include breakpoint(large) {
      height: 40vh;
    }
    @include breakpoint(xlarge){
      
      height: 50vh;
    }
  }

  #maia {
    position: absolute;
  margin-left: auto;
    margin-right: auto;
    bottom: 0%;
    // filter: hue-rotate(120deg);

    z-index: 0;
    // -webkit-box-reflect: below 1px  blur(20px);
    ;

    // max-height: 80vh;
    @include breakpoint(small) {
      height: 120vh;
    }
    @include breakpoint(medium) {
      height: 120vh;

    }
    @include breakpoint(large) {
      height: 125vh;
    }
    @include breakpoint(xlarge){
      
      height: 130vh;
    }
  }
}
