@import "../LoadingScene/LoadScene.scss";
@import "../colors.scss";

#folhas {
  position: absolute !important;
  bottom: 0 !important;
  height: 80vw !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 40vw !important;
  
  @include breakpoint(medium) {
    width: 100% !important;
  }
}

#maia {
  position: absolute !important;

  bottom: 0 !important;
  margin-left: auto !important;
  margin-right: auto !important;
  max-height: 80vh !important;
  @include breakpoint(small){
    width: 150%;
  }
  
  @include breakpoint(medium){

    width:150% ;
  }
}
#take02 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .central-msg {
    font-family: $font1;
    color: $secundary_color;
  
    @include breakpoint(small) {
        font-size: 3rem !important;
        position: absolute;
        top: 10%;


    }
    @include breakpoint(medium) {
        font-size: 5rem !important;
    }
    @include breakpoint(large) {
        font-size: 9rem !important;
    }
    @include breakpoint(xlarge) {
        font-size: 12rem !important;
    }
  }
  #despertar{ 
    position: absolute;
    top: 20%;

    
  }
}