@import "../LoadingScene/LoadScene.scss";



#maia, #folha1, #folha2, #folha3{
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    border: green 4px solid;

    
}
#maia{
 scale: 0.4;
 bottom: 0
}


.take02{
   @include uma-tela;
    position: relative;
    border: solid orchid 5px;
    overflow-x: hidden;
}

.central-msg{ 
    font-size: 8rem;
    color: azure;
    position: absolute;
    top: 30%;

    font-family: 'Chuck';
}

#permita{
    left: 0px;
}
#despertar{
    right: 0px;
    margin-top: 300px;
}

@font-face {
    font-family: 'Chuck';
    src: url("../anakefka.ttf");
 }