@import "../colors.scss";

.video-section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
    background-color: #0066da;
    display: block;
    z-index: 0;

    @include breakpoint(small) {
        height: fit-content;
        position: relative;
        z-index: 0;
    }
}

.video-background {
    position: absolute;
    filter: hue-rotate(240deg) blur(10px) grayscale(1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    object-fit: cover;
    z-index: 1;

    @include breakpoint(medium) {
        position: relative;
        filter:  hue-rotate(80deg);

    }
}

.cards {
    object-fit: cover;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    position: relative;
    display: flex;
    width: 100vw;
    z-index: 1;
    color: white;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    flex-wrap: wrap;
    perspective: 200px;

    .titulo {
        width: 100vw;

        .title {
            display: flex;
            z-index: 100;
            color: white;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            font-family: 'Barrio', cursive;
            font-size: 10rem;
            margin: 0;
            padding: 0;

            @include breakpoint(small) {
                font-size: 4rem;
                position: relative;
                z-index: 100;
            }

            @include breakpoint(medium) {
                font-size: 3rem;
            }
        }
    }

    .selling-card {
        width: 70vw;
        max-width: 600px;
        background-color: transparent;
        backdrop-filter: blur(100px);
        padding: 10%;
        text-align: justify;
        transition: max-height 0.5s ease-in-out;
        overflow: contain;

        h3 {
            font-family: 'Barrio';
            color: $secundary_color;
            text-transform: uppercase;
            font-size: 40px;
            text-align: center;
        }

        &:hover .conteudo, &.selected .conteudo {
            max-height: 1000px;

            p, table {
                opacity: 1;
            }
        }

        .conteudo {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s ease-in-out;
            word-wrap: break-word; // Quebra palavras longas para evitar o desbordamento horizontal.
        }
        
        
            p, table {
                
                font-weight: 200;
                opacity: 0;
                transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
                }

             table{
                background-color: rgba(226, 231, 229, 0.367);
                padding: 10px;
                margin: auto;
            }   
            &.selected p, &.selected table {
                max-height: 1000px;
                opacity: 1;
                .imagens{
                    filter: grayscale(0);
                }
            }

            @include breakpoint(xlarge) {
                width: 80vw;
                margin: auto;
                height: fit-content;
                padding: 5%;

                h3 {
                    font-size: 25px;
                }

                p, table {
                    font-size: 19px;
                }
            }

            @include breakpoint(small) {
                width: 80vw;
                height: auto;
                padding: 5%;

                h3 {
                    font-size: 25px;
                }
            }
            .imagens{
                height: 15vh;
                width: 100%;
                object-fit: cover;
                object-position: 20% 20%;
                filter: grayscale(1);
                transition: filter 0.5s ease-in-out;
                
            }
            .imagens:hover{
                filter: grayscale(0);
            }
        
        }

    }


input[type="radio"].toggle {
    display: none;

    & + .content .selling-card .conteudo {
        max-height: 1000px;
        p, table {
            opacity: 1;
        }
    }
}

