@import "../colors.scss";

#take09 {
    overflow: hidden;
    background-color: $tertiary_color;
    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
    color: $secundary_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    h1.title{
        font-family: $font1;
        color: #e0dfdc;
        // background: #556677;
        letter-spacing: .1em;
        text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
        @include breakpoint(small){
            font-size: 2rem;
        }
        @include breakpoint(medium){
            font-size: 2.3rem;
        }
        @include breakpoint(large){
            font-size: 2.5rem;
        }
        @include breakpoint(xlarge){
            font-size:3rem;
        }
    }
    .titulo{
        text-shadow: 2px 2px 2px rgba(206,206,206,0);
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
        margin: 0%;
        justify-content: center;
        text-align: center;
        font-family: $font1;
        @include breakpoint(small){
            font-size: 1.6rem;
        }
        @include breakpoint(medium){
            font-size: 2rem;
        }
        @include breakpoint(large){
            font-size: 2.3rem;
        }
        @include breakpoint(xlarge){
            font-size: 2.6rem;
        }
        span{
            @include breakpoint(small){
                font-size: 0.8rem;
            }
            @include breakpoint(medium){
                font-size: 1rem;
            }
            @include breakpoint(large){
                font-size: 1.2rem;
            }
            @include breakpoint(xlarge){
                font-size: 1.4rem;
            }
        }
        h1{
            @include breakpoint(small){
                font-size: 2rem;
            }
            @include breakpoint(medium){
                font-size: 2.5rem;
            }
            @include breakpoint(large){
                font-size: 3rem;
            }
            @include breakpoint(xlarge){
                font-size: 3.4rem;
            }
        }
        #cogu{
            margin-top: 5vh;
            text-align: center;
            width: 100%;
            color: $secundary_color;

text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
            @include breakpoint(small){
                font-size: 6rem
            }
            @include breakpoint(medium){
                font-size: 7rem
            }
            @include breakpoint(large){
                font-size: 8rem
            }
            @include breakpoint(xlarge){
                font-size: 9rem
            }
        }
    }
    .slider{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        // background-color: rgb(0, 0, 0);
        width: 100vw;
        height:auto;
        -webkit-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
        -moz-box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
        box-shadow: inset 6px 10px 58px 8px rgba(0, 0, 0, 0.61);
    
        
        background-color: $primary_color;
    background-attachment: fixed;

    background-image: url("https://www.transparenttextures.com/patterns/clean-gray-paper.png");
        /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
        // -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(60%, transparent), to(#ffffff90));
        
        .container {
        display: flex;
        flex-grow: 1;
        width: 100vw;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
        @include breakpoint(small){
            width: 100vw;
        }
        @include breakpoint(medium){

        }
        @include breakpoint(large){

        }
        @include breakpoint(xlarge){

        }

 // Alinha os cards à esquerda
        // perspective: 4000px;// Adiciona algum espaço acima e abaixo dos cards

        .card {
            display: flex; 
            margin: 0.7%;
            border-radius: 15%;
            overflow: hidden;
            width: 100px;
            box-shadow: 0px 7px 22px 1px #000000;
            // Muda para inline-flex para permitir alinhamento interno
            flex-direction: column; // Coloca o conteúdo do card em coluna 
            height: 500px; // Adiciona espaço entre os cards
            background-color: transparent;
            color: $secundary_color;
            align-items: center;
            justify-content: center;
            text-align: center;

            transition: transform 0.5s ease; // Transição suave
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            flex-grow: 1;
             transition: width 0.5s ease;
            @include breakpoint(small){
                height: 150px;
            }
            @include breakpoint(medium){
                height: 200px;
            }
            @include breakpoint(large){
                height:300px;
            }
            @include breakpoint(xlarge){
                height: 600px;
                width: 300px;
            }
    
            &.active {
                border: 10px solid $secundary_color;
                width: 80vw;

            //     @include breakpoint(small){
            //        width: 300px;

            // }
            // @include breakpoint(medium){
            //     width: 500px;
            // }
            // @include breakpoint(large){
            //        width: 600px; 
            // }
            // @include breakpoint(xlarge){
            //         width: 40vw;
            //     // border-left: $quinary_color 8px solid;
            //     // border-right: $quinary_color 8px solid;

             }
           
            
            
            }

            img {
                width: 100%;
                height: 100%; // Ajusta a altura da imagem
                object-fit: cover;
                position: absolute;
                border-radius: 15px;
                

            }
       

            h3 {
                margin-top: 10px;
                padding: 10%;
                max-width: 300px;
                font-family: $font1;
                color: $quinary_color;
                z-index: 2;
                text-wrap: wrap;
                color:$quinary_color;
                letter-spacing: .1em;
                text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9);
                span {
                    display: block;
                    // transform: rotate(-180deg);
                }
                @include breakpoint(small){
                    font-size: 1.4rem;
                }
                @include breakpoint(medium){
                    font-size: 1.6rem;
                }
                @include breakpoint(large){
                    font-size: 2rem;
                }
                @include breakpoint(xlarge){
                    font-size: 2.5rem;
                }
            }
    }}
    

    .product-text-container {
        max-width: 800px;
        margin: 20px auto; // Centraliza e adiciona espaço em torno do texto
        padding: 0 20px; // Adiciona padding para não tocar nas bordas

        .product-text {
            font-family: $font2;
            display: flex;
            flex-direction: column;
            color: $secundary_color;
            text-align: justify; 
            justify-content: center;
            align-items: center;
            table{
                margin: auto;
                color: $secundary_color;
                
                @include breakpoint(small){
                    font-size: 1.3rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(medium){
                    font-size: 1.5rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(large){
                    font-size: 1.7rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(xlarge){
                    font-size: 1.9rem;// Alinha o texto justificado para melhor leitura
                }
 
             }
            p{
                @include breakpoint(small){
                    font-size: 0.8rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(medium){
                    font-size: 1rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(large){
                    font-size: 1.2rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(xlarge){
                    font-size: 1.3rem;// Alinha o texto justificado para melhor leitura
                }
            }    
            .frete{
                text-align: center;
            }
        }
    }
    .container::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      .container::-webkit-scrollbar-track {
        background: $primary_color;
        color: $quaternary_color;        /* color of the tracking area */
      }
      
      .container::-webkit-scrollbar-thumb {
        background-color: $primary_color; 
        color: $quaternary_color;   /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $quaternary_color  /* creates padding around scroll thumb */
      }
    body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      body::-webkit-scrollbar-track {
        background: $primary_color;
        color: $quaternary_color;        /* color of the tracking area */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: $primary_color; 
        color: $quaternary_color;   /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $quaternary_color  /* creates padding around scroll thumb */
      }
}
/* Estilo para a barra de rolagem */
.scrollbar-style {
    scrollbar-width: thin;
    scrollbar-color: $primary_color $quaternary_color;
  }
  
  .scrollbar-style::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar-style::-webkit-scrollbar-track {
    background: $primary_color;
  }
  
  .scrollbar-style::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 20px;
    border: 3px solid $primary_color;
  }
  /* Estilo para navegadores que suportam scrollbar-color */
* {
    scrollbar-width: thin;
    scrollbar-color:$primary_color $secundary_color;
  }
  
  /* Estilo para navegadores baseados em WebKit */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $tertiary_color;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 20px;
    border: 3px solid $secundary_color;
  }
  