@import "../colors.scss";

#take09 {
    overflow: hidden;
    background-color: $quaternary_color;
    color: $primary_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    h1.title{
        font-family: $font1;
        font-size: 3rem;


        color: $primary_color;
        @include breakpoint(small){
            font-size: 2rem;
        }
        @include breakpoint(medium){
            font-size: 2.3rem;
        }
        @include breakpoint(large){
            font-size: 2.5rem;
        }
        @include breakpoint(xlarge){
            font-size:3rem;
        }
    }
    .titulo{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
        margin: 0%;
        justify-content: center;
        text-align: center;
        font-family: $font1;
        @include breakpoint(small){
            font-size: 1.6rem;
        }
        @include breakpoint(medium){
            font-size: 2rem;
        }
        @include breakpoint(large){
            font-size: 2.3rem;
        }
        @include breakpoint(xlarge){
            font-size: 2.6rem;
        }
        span{
            @include breakpoint(small){
                font-size: 0.8rem;
            }
            @include breakpoint(medium){
                font-size: 1rem;
            }
            @include breakpoint(large){
                font-size: 1.2rem;
            }
            @include breakpoint(xlarge){
                font-size: 1.4rem;
            }
        }
        #cogu{
            margin-top: 5vh;
            text-align: center;
            width: 100%;
            @include breakpoint(small){
                font-size: 6rem
            }
            @include breakpoint(medium){
                font-size: 7rem
            }
            @include breakpoint(large){
                font-size: 8rem
            }
            @include breakpoint(xlarge){
                font-size: 9rem
            }
        }
    }
    .slider{
        overflow: hidden;
        display: flex;
        flex-direction: row;
        background-color: rgb(0, 0, 0);
        width: 100vw;
        height:auto;
        overflow-y: visible; // Evita quebra de linha dos elementos inline
        overflow-x: scroll; 
        -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom,  from(transparent), color-stop(60%, transparent), to(#ffffff90));

        .container {
        display: flex;
        flex-grow: 1;
        width: fit-content;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin: auto;

 // Alinha os cards à esquerda
        // perspective: 4000px;// Adiciona algum espaço acima e abaixo dos cards

        .card {
            display: flex; // Muda para inline-flex para permitir alinhamento interno
            flex-direction: column;
            border-radius: 5%; // Coloca o conteúdo do card em coluna 
           max-width: 100vw;
           min-width: 300px;
            height: 500px; // Adiciona espaço entre os cards
            background-color: $quinary_color;
            color: $secundary_color;
            align-items: center;
            justify-content: center;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); // Adiciona sombra para um efeito 3D
            transition: transform 0.9s ease;
            position: relative;
            overflow: hidden;
            border-radius: 5%;
            transform: translateZ(15deg);
            transition: 2s;
            @include breakpoint(small){
                height: 200px;
            }
            @include breakpoint(medium){
                height: 200px;
            }
            @include breakpoint(large){
                height:300px
            }
            @include breakpoint(xlarge){
                height: 400px
            }
    
            // // -webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
            // transform: rotateX(360deg) rotateY(27deg);
// transform-style: preserve-3d;
// transition: 2s;
            &:hover {
                filter:invert(1); 
            }
            
            &.active {
           
                filter:invert(1); // Efeito de zoom ao passar o mouse
                z-index: 7;
                // border-left: $quinary_color 8px solid;
                // border-right: $quinary_color 8px solid;

            }

            img {
                width: 100%;
                height: 100%; // Ajusta a altura da imagem
                object-fit: cover;
                position: absolute;
                
                filter:  hue-rotate(160deg);
            }

            h3 {
                margin-top: 10px;
                padding: 10%;
                font-weight: bold;
                max-width: 300px;
                font-family: $font1;
                color: $primary_color;
                z-index: 2;
                text-wrap: wrap;
                @include breakpoint(small){
                    font-size: 1.4rem;
                }
                @include breakpoint(medium){
                    font-size: 1.6rem;
                }
                @include breakpoint(large){
                    font-size: 1.8rem;
                }
                @include breakpoint(xlarge){
                    font-size: 2rem;
                }
            }
        }
    }
    }

    .product-text-container {
        max-width: 800px;
        margin: 20px auto; // Centraliza e adiciona espaço em torno do texto
        padding: 0 20px; // Adiciona padding para não tocar nas bordas

        .product-text {
            font-family: $font2;
            color: $primary_color;
            text-align: justify; 
            p{
                @include breakpoint(small){
                    font-size: 0.8rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(medium){
                    font-size: 1rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(large){
                    font-size: 1.2rem;// Alinha o texto justificado para melhor leitura
                }
                @include breakpoint(xlarge){
                    font-size: 1.3rem;// Alinha o texto justificado para melhor leitura
                }
            }    
        }
    }
    .container::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      .container::-webkit-scrollbar-track {
        background: $primary_color;
        color: $quaternary_color;        /* color of the tracking area */
      }
      
      .container::-webkit-scrollbar-thumb {
        background-color: $primary_color; 
        color: $quaternary_color;   /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $quaternary_color  /* creates padding around scroll thumb */
      }
    body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      body::-webkit-scrollbar-track {
        background: $primary_color;
        color: $quaternary_color;        /* color of the tracking area */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: $primary_color; 
        color: $quaternary_color;   /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $quaternary_color  /* creates padding around scroll thumb */
      }
}
/* Estilo para a barra de rolagem */
.scrollbar-style {
    scrollbar-width: thin;
    scrollbar-color: $primary_color $quaternary_color;
  }
  
  .scrollbar-style::-webkit-scrollbar {
    width: 12px;
  }
  
  .scrollbar-style::-webkit-scrollbar-track {
    background: $primary_color;
  }
  
  .scrollbar-style::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 20px;
    border: 3px solid $primary_color;
  }
  /* Estilo para navegadores que suportam scrollbar-color */
* {
    scrollbar-width: thin;
    scrollbar-color:$primary_color $secundary_color;
  }
  
  /* Estilo para navegadores baseados em WebKit */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: $tertiary_color;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 20px;
    border: 3px solid $secundary_color;
  }
  