@import "../colors.scss";

.video-section {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
    background-color: #0066da;
}

.video-background {
    position: absolute;
    filter: hue-rotate(240deg) blur(10px) grayscale(1);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: fit-content;
    object-fit: cover;

    @include breakpoint(small) {
        position: relative;
        filter: grayscale(1);
    }
}

.content {
    position: relative;
    display: flex;
    width: 100vw; 
    z-index: 1;
    color: white;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    perspective: 200px;

    .selling-card {
        min-width: 70vw;
        max-width: 450px;
        height: fit-content;
        background-color: #171818cb;
        border-radius: 12px;
        padding: 3%;
        text-align: justify;

        h3 {
            font-family: 'Barrio';
            color: $secundary_color;
            text-transform: uppercase;
            font-size: 40px;
            text-align: center;
        }

        p, table {
            font-weight: 200;
            max-height: 1000px;
            opacity: 1;
            transition: max-height 0.8s ease-in, opacity 0.4s ease-in;
        }

        &.selected p, &.selected table {
            display: block;
        }

        table {
            background-color: rgba(255, 255, 255, 0.38);
            color: #121111;
            padding: 4%;
            border-radius: 10px;

            td, tr {
                text-align: center;
                min-width: 120px;
            }
        }
        &:hover {
            transition: 0.5s;
            box-shadow: 0 0 10px #fff;
            cursor: pointer;
            background-color: black;
            transform: skew(0);
        }

        @include breakpoint(small) {
            width: 80vw;
            height: fit-content;
            padding: 5%;
            border: none;
            background-color: transparent;

            h3 {
                font-size: 25px;
            }

            p, table {
                display: none;
                font-size: 19px;
            }
        }
    }
}
